*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(#575353 50%, #919b94 50%);
}
.container{
    background-color: #6e5f5f;
    width: 90vh;
    font-size: 20px;
    max-width: 28em;
    padding: 3em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 0 3.2em rgba(1,3,29,0.2);
    border-radius: 0.6em;
}

h2{
    font-size: 2em;
    text-align: center;
    margin-bottom: 1.5em;
}

.input-wrapper label{
    display: block;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 0.30em;
}

.input-wrapper #kg, #lb, #oz{
    font-size: 1.5em;
    background-color: rgb(196, 185, 185);
}

.input-wrapper:not(:last-child){
    margin-bottom: 1.2em;
}

@media screen and (max-width: 28em) {

    .container{
        font-size: 14px;
    }
}